.header-container{
      background-color: #FF6600;  
      width: 100%;
      height: 50px;
}

.header{
    display: inline;

    
}

.icon{
    margin-top: 10px;
    margin-left: 5px;
}

.nav-item{
    display: inline;
    margin: 5px;

}

.story{
    display: flex;

}

.index{
    padding-top: 30px;
    padding-right: 20px;  
    padding-left: 20px;
}

.raisedbox { 
    padding: 10px;
    border: 3px solid #77aaff;

}

.timestamp{
    margin-left: 10px;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}